%h3 Rooms

%p= link_to "Create new room", new_room_path

%ul
  - @rooms.each do |room|
    %li
      = room.name
      = link_to "(delete |", room_path(room), method: :delete
      = link_to " edit)", edit_room_path(room)
